#colors {
    display: flex;
    align-items: center;
}

#colors div{
    height: 15px;
    width: 15px;
}

#mainBox {
    display: flex;
    border: solid 1px gray;
    font-family: monaco;
    /* padding: 10px; */
}

.action {
    background-color: white;
    border: solid 1px gray;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


#mainBox > div {
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    /* margin: 10px; */
}

#controls {
    background: whitesmoke;
}

#grid {
    width: 90%;
    height: 70%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.selected {
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.row > div {
    flex: 1;
    border: solid 1px black;
}


.fireBrick {
    background: firebrick;
}

.salmon {
    background: salmon;
}

.gold {
    background: gold    ;
}

.springGreen {
    background: springgreen;
}

.teal {
    background: teal;
}